{% extends 'supplyco/aindex.html' %}
{% block body  %}
<form id="form1" name="form1" method="post" action="/myapp/supplyco_add_trans_post/">
    {% csrf_token %}
  <table class="table table-bordered">
    <tr>
      <td width="180px">District Name</td>
      <td>
      <select name="pid" class="form-control" required>
          {% for i in data %}

              <option value="{{ i.id }}">{{ i.productname }}</option>

          {% endfor %}
      </select>

      </td>
    </tr>
  <tr>
      <td>
          Quantity
      </td>
      <td>
          <input type="text" name="textfield" id="textfield" class="form-control" required />
      </td>
  </tr>
    <tr >
        <td></td>
      <td ><input type="submit" name="button" id="button" value="Add" class="btn btn-success" /></td>

    </tr>
  </table>
</form>
{% endblock %}