{% extends 'farmer/aindex.html' %}
{% block body  %}
<form id="form1" name="form1" method="post" action="/myapp/farmer_add_item_post/">
    {% csrf_token %}

    <input type="hidden" name="nid" value="{{ nid }}">
    <input type="hidden" name="pid" value="{{ pid }}">

  <table class="table table-bordered">
    <tr>
<td>Quantity</td>
      <td>
      <input type="text" name="textfield2" id="textfield" placeholder="Type Quantity here" class="form-control" /></td>

    </tr>
      <tr>
          <td></td>

              <td><input type="submit" name="button" id="button" value="Submit" class="btn btn-success" /></td>

      </tr>
  </table>

</form>
{% endblock %}
