{% extends 'farmer/aindex.html' %}
{% block body  %}
<form id="form1" name="form1" method="post" action="/myapp/supplyco_view_notification_search/">

  <table class="table table-bordered">
    <tr>
      <th>Slno</th>   <th>Product</th>
      <th>Title</th>
      <th>Price</th>
      <th>Created</th>
      <th>LastDate</th>
      <th>ResponseDate</th>
      <th>Qty</th>
      <th>Status</th>

    </tr>
    {% for i in data %}
  <tr>
    <td width="50px">{{ forloop.counter }}</td>
      <td> {{ i.no.PRODUCT.productname }}</td>
      <td>{{ i.no.title }}</td>
      <td>{{ i.no.price }}</td>
      <td>{{ i.no.createddate }}</td>
      <td>{{ i.no.lastdate }}</td>
      <td>{{ i.date }}</td>
      <td>{{ i.qtya }}</td>
      <td>{{ i.status }}</td>


    </tr>
    {% endfor %}
  </table>
</form>
{% endblock %}
