{% extends 'admin/aindex.html' %}
{% block body  %}
<form id="form1" name="form1" method="post" action="/myapp/admin_edit_subject_post/">
    {% csrf_token %}
  <table class="table table-bordered">
    <tr>
      <td width="180px">Subject      </td>
      <td>
      <input type="hidden" name="id" id="" value="{{ data.id }}"/>
      <input type="text" name="textfield" id="textfield" value="{{ data.Subject_name }}" required class="form-control"/>
      </td>
    </tr>
    <tr >
        <td></td>
      <td><input type="submit" name="button" id="button" value="Edit" class="btn btn-success" /></td>
    </tr>
  </table>
</form>
{% endblock %}