{% extends 'admin/aindex.html' %}
{% block body  %}
<form id="form1" name="form1" method="post" action="/myapp/admin_edit_product_post/">
    {% csrf_token %}
  <table class="table table-bordered">
      <input type="hidden" name="id" value="{{ data.id }}"/>
    <tr>
      <td width="180px">Product Name</td>
      <td>
      <input type="text" name="textfield" value="{{ data.productname }}" id="textfield" class="form-control" required /></td>
    </tr>
    <tr >
        <td></td>
      <td ><input type="submit" name="button" id="button" value="Edit" class="btn btn-success" /></td>

    </tr>
  </table>
</form>
{% endblock %}